body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#video-container {
  position: relative;
  background-color: black;
  padding: 1rem;
}

#remoteVideo {
  width: 100%;
  height: 100%;
  background-color: black;
  border: red solid 1px;
}

#localVideo {
  position: absolute;
  min-width: 20%;  
  bottom: 1.4rem;
  right: 1rem;
  border: red solid 1px;
}

 /* #video-container {
  padding: 10px;
  position: relative;
  height: 80vh; 
  background-color: black;
} 

#remoteVideo {
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 8px;
  background-color: black;
  border: 2px solid white;
  width: 100%;
}

#localVideo {
  position: absolute;
  bottom: 0.6rem;
  right: 0.5rem;
  width: 15rem;
  height: 150px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 8px;
  background-color: black;
} */

#call-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  z-index: 10;
}

#call-controls button {
  color: white;
}

#controls {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-top: 25px;
}

#controls .input-field {
  margin: 0;
}

#controls input {
  width: 300px;
}

#toast-container {
  top: auto !important;
  margin-bottom: 50px;
  bottom: 0;
}